# **Proyek Analisis Data**

- Nama      : Edy Mochamad Yusuf
- Email     : edymochamady@gmail.com

# **Cek Version Python yang digunakan**

In [1]:
!python --version

Python 3.10.8

In [2]:
!conda info

     active environment : env_gofood
    active env location : C:\Users\ASUS\anaconda3\envs\env_gofood
            shell level : 1
       user config file : C:\Users\ASUS\.condarc
 populated config files : C:\Users\ASUS\.condarc
          conda version : 22.11.1
    conda-build version : 3.22.0
         python version : 3.9.13.final.0
       virtual packages : __archspec=1=x86_64
                          __win=0=0
       base environment : C:\Users\ASUS\anaconda3  (writable)
      conda av data dir : C:\Users\ASUS\anaconda3\etc\conda
  conda av metadata url : None
           channel URLs : https://repo.anaconda.com/pkgs/main/win-64
                          https://repo.anaconda.com/pkgs/main/noarch
                          https://repo.anaconda.com/pkgs/r/win-64
                          https://repo.anaconda.com/pkgs/r/noarch
                          https://repo.anaconda.com/pkgs/msys2/win-64
                          https://repo.anaconda.com/pkgs/msys2/noarch
          package cache : C:\Users\ASUS\anaconda3\pkgs
                          C:\Users\ASUS\.conda\pkgs
                          C:\Users\ASUS\AppData\Local\conda\conda\pkgs
       envs directories : C:\Users\ASUS\anaconda3\envs
                          C:\Users\ASUS\.conda\envs
                          C:\Users\ASUS\AppData\Local\conda\conda\envs
               platform : win-64
             user-agent : conda/22.11.1 requests/2.28.1 CPython/3.9.13 Windows/10 Windows/10.0.17134
          administrator : False
             netrc file : None
           offline mode : False

# **Menentukan Pertanyaan Bisnis**

-
-
-
-

# **Menyiapkan Library yang digunakan**

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

print(pd.__version__)
print(np.__version__)
print(sns.__version__)

2.0.3
1.23.4
0.12.2

# **Data Wrangling**

## **Gathering Data**

In [32]:
gf = pd.read_csv('gofood_dataset.csv')

gf.head(6)

,merchant_name,merchant_area,category,display,product,price,discount_price,isDiscount,description
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Almara Kopi (kopi Susu Gula Aren),20000.0,NaN,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...
1,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Almara Kopi (kopi Susu Gula Aren),22000.0,NaN,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...
2,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millsis,20000.0,NaN,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...
3,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Millsis,20000.0,NaN,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...
4,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millbro,22000.0,NaN,0,Sajian Susu Coklat Milo Plus Espresso Dengan R...
5,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Millbro,22000.0,NaN,0,Sajian Susu Coklat Milo Plus Espresso Dengan R...

## **Assesing Data**

In [33]:
gf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45195 entries, 0 to 45194
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   merchant_name   45195 non-null  object
 1   merchant_area   45195 non-null  object
 2   category        45195 non-null  object
 3   display         45195 non-null  object
 4   product         45195 non-null  object
 5   price           45195 non-null  float64
 6   discount_price  2738 non-null   float64
 7   isDiscount      45195 non-null  int64
 8   description     21720 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 3.1+ MB

In [34]:
gf.describe()

              price  discount_price    isDiscount
count  4.519500e+04     2738.000000  45195.000000
mean   4.387851e+04    46382.973703      0.060582
std    9.317646e+04    42402.786836      0.238564
min    1.000000e+00     3500.000000      0.000000
25%    1.500000e+04    18000.000000      0.000000
50%    2.400000e+04    33175.000000      0.000000
75%    4.250000e+04    59975.000000      0.000000
max    1.980000e+06   355500.000000      1.000000

## **Cleaning Data**

## **Drop kolom yang tidak dibutuhkan**