# **Proyek Analisis Data**

- Nama      : Edy Mochamad Yusuf
- Email     : edymochamady@gmail.com

# **Cek Version Python yang digunakan**

In [2]:
!python --version

Python 3.10.8

In [1]:
!conda info

     active environment : env_gofood
    active env location : C:\Users\ASUS\anaconda3\envs\env_gofood
            shell level : 1
       user config file : C:\Users\ASUS\.condarc
 populated config files : C:\Users\ASUS\.condarc
          conda version : 22.11.1
    conda-build version : 3.22.0
         python version : 3.9.13.final.0
       virtual packages : __archspec=1=x86_64
                          __win=0=0
       base environment : C:\Users\ASUS\anaconda3  (writable)
      conda av data dir : C:\Users\ASUS\anaconda3\etc\conda
  conda av metadata url : None
           channel URLs : https://repo.anaconda.com/pkgs/main/win-64
                          https://repo.anaconda.com/pkgs/main/noarch
                          https://repo.anaconda.com/pkgs/r/win-64
                          https://repo.anaconda.com/pkgs/r/noarch
                          https://repo.anaconda.com/pkgs/msys2/win-64
                          https://repo.anaconda.com/pkgs/msys2/noarch
          package cache : C:\Users\ASUS\anaconda3\pkgs
                          C:\Users\ASUS\.conda\pkgs
                          C:\Users\ASUS\AppData\Local\conda\conda\pkgs
       envs directories : C:\Users\ASUS\anaconda3\envs
                          C:\Users\ASUS\.conda\envs
                          C:\Users\ASUS\AppData\Local\conda\conda\envs
               platform : win-64
             user-agent : conda/22.11.1 requests/2.28.1 CPython/3.9.13 Windows/10 Windows/10.0.17134
          administrator : False
             netrc file : None
           offline mode : False

# **Menentukan Pertanyaan Bisnis**

Pertanyaan :
- Berapa total pendapatan merchant 369 Shanghai, Jemursari?
- Berapa total pendapatan merchant 369 Shanghai, Jemursari dari display 369 Home Pack, Dumpling, Shanghai Dish dan Noodles
- Berapa total pendapatan semua merchant berdasarkan asal kotanya?
- Total discount yang diberikan pada setiap kota

# **Menyiapkan Library yang digunakan**

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

print(pd.__version__)
print(np.__version__)
print(sns.__version__)

2.0.3
1.23.4
0.12.2

# **Data Wrangling**

## **Gathering Data**

In [4]:
gf = pd.read_csv('gofood_dataset.csv')

gf.head(6)

,merchant_name,merchant_area,category,display,product,price,discount_price,isDiscount,description
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Almara Kopi (kopi Susu Gula Aren),20000.0,NaN,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...
1,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Almara Kopi (kopi Susu Gula Aren),22000.0,NaN,0,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...
2,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millsis,20000.0,NaN,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...
3,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Millsis,20000.0,NaN,0,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...
4,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millbro,22000.0,NaN,0,Sajian Susu Coklat Milo Plus Espresso Dengan R...
5,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Millbro,22000.0,NaN,0,Sajian Susu Coklat Milo Plus Espresso Dengan R...

## **Assesing Data**

In [5]:
gf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45195 entries, 0 to 45194
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   merchant_name   45195 non-null  object
 1   merchant_area   45195 non-null  object
 2   category        45195 non-null  object
 3   display         45195 non-null  object
 4   product         45195 non-null  object
 5   price           45195 non-null  float64
 6   discount_price  2738 non-null   float64
 7   isDiscount      45195 non-null  int64
 8   description     21720 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 3.1+ MB

In [6]:
gf.describe()

              price  discount_price    isDiscount
count  4.519500e+04     2738.000000  45195.000000
mean   4.387851e+04    46382.973703      0.060582
std    9.317646e+04    42402.786836      0.238564
min    1.000000e+00     3500.000000      0.000000
25%    1.500000e+04    18000.000000      0.000000
50%    2.400000e+04    33175.000000      0.000000
75%    4.250000e+04    59975.000000      0.000000
max    1.980000e+06   355500.000000      1.000000

## **Cleaning Data**

## **Drop kolom yang tidak dibutuhkan**

In [7]:
#drop kolom isDiscount
gf.drop(columns = 'isDiscount', inplace = True, axis = 1)

gf

,merchant_name,merchant_area,category,display,product,price,discount_price,description
0,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Almara Kopi (kopi Susu Gula Aren),20000.0,NaN,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...
1,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Almara Kopi (kopi Susu Gula Aren),22000.0,NaN,Sajian Kopi Susu Gula Aren Yang Berbeda Dari K...
2,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millsis,20000.0,NaN,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...
3,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Ice Millsis,20000.0,NaN,Sajian Susu Coklat Milo Dengan Racikan Khas 3 ...
4,"330 Kopi, Ciledug",jakarta,Kopi/Minuman/Roti,Signature,Hot Millbro,22000.0,NaN,Sajian Susu Coklat Milo Plus Espresso Dengan R...
...,...,...,...,...,...,...,...,...
45190,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Hazelnut Choco Milktea,70000.0,NaN,1L Hazelnut Choco Milktea
45191,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Dolce Latte,80000.0,NaN,1L Dolce Latte
45192,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Chocoffe,80000.0,NaN,1L Chocoffe
45193,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Kopi Susu Gula Aren,85000.0,NaN,1L Kopi Susu Gula Aren
45194,"Zeger!, Sidoarjo",surabaya,Minuman/Kopi,1L ZEGER BANGET !,1L Salt Caramel Machiato,85000.0,NaN,1L Salt Caramel Machiato

## **Cek Missing Value data**

In [8]:
gf.isna().sum()

merchant_name         0
merchant_area         0
category              0
display               0
product               0
price                 0
discount_price    42457
description       23475
dtype: int64

### **Mengisi Missing Value kolom description dan discount**

In [9]:
gf['description'].fillna(value = '-', inplace = True)

In [10]:
gf['discount_price'].fillna(value = 0, inplace = True)

In [11]:
gf.isna().sum()

merchant_name     0
merchant_area     0
category          0
display           0
product           0
price             0
discount_price    0
description       0
dtype: int64

# **Exploratory Data Analysis**

Pertanyaan :
- Berapa total pendapatan merchant 369 Shanghai, Jemursari?
- Berapa total pendapatan merchant 369 Shanghai, Jemursari dari display 369 Home Pack, Dumpling, Shanghai Dish dan Noodles
- Berapa total pendapatan semua merchant berdasarkan asal kotanya?
- Total discount yang diberikan pada setiap kota

In [12]:
gf_merchant_name = gf[gf['merchant_name'].str.contains('369 Shanghai, Jemursari')]

gf_1 = gf_merchant_name[gf_merchant_name['display'].str.contains('369 Home Pack')]
gf_1.groupby(['merchant_name', 'product']).sum().sort_values(by = 'price', ascending = False)

                                                        merchant_area  \
merchant_name           product
369 Shanghai, Jemursari Home Pack Tim Obat Ayam Hitam        surabaya
                        Home Pack Sup Shanghai               surabaya
                        Home Pack Tim Obat Ayam Kampung      surabaya
                        Homepack Chasiew                     surabaya
                        Home Pack Mie Zhajiang               surabaya
                        Home Pack Song Mie                   surabaya
                        Home Pack Mie Ayam                   surabaya
                        Homepack Sandwich Tiongkok           surabaya
                        Home Pack MIE POLOS                  surabaya
                        Homepack Sambal                      surabaya
                        Homepack Siomay                      surabaya

                                                        category  \
merchant_name           product
369 Shanghai, Jemursari Home Pack Tim Obat Ayam Hitam    Chinese
                        Home Pack Sup Shanghai           Chinese
                        Home Pack Tim Obat Ayam Kampung  Chinese
                        Homepack Chasiew                 Chinese
                        Home Pack Mie Zhajiang           Chinese
                        Home Pack Song Mie               Chinese
                        Home Pack Mie Ayam               Chinese
                        Homepack Sandwich Tiongkok       Chinese
                        Home Pack MIE POLOS              Chinese
                        Homepack Sambal                  Chinese
                        Homepack Siomay                  Chinese

                                                               display  \
merchant_name           product
369 Shanghai, Jemursari Home Pack Tim Obat Ayam Hitam    369 Home Pack
                        Home Pack Sup Shanghai           369 Home Pack
                        Home Pack Tim Obat Ayam Kampung  369 Home Pack
                        Homepack Chasiew                 369 Home Pack
                        Home Pack Mie Zhajiang           369 Home Pack
                        Home Pack Song Mie               369 Home Pack
                        Home Pack Mie Ayam               369 Home Pack
                        Homepack Sandwich Tiongkok       369 Home Pack
                        Home Pack MIE POLOS              369 Home Pack
                        Homepack Sambal                  369 Home Pack
                        Homepack Siomay                  369 Home Pack

                                                            price  \
merchant_name           product
369 Shanghai, Jemursari Home Pack Tim Obat Ayam Hitam    145200.0
                        Home Pack Sup Shanghai           144000.0
                        Home Pack Tim Obat Ayam Kampung  117600.0
                        Homepack Chasiew                 116400.0
                        Home Pack Mie Zhajiang           103200.0
                        Home Pack Song Mie               103200.0
                        Home Pack Mie Ayam                94800.0
                        Homepack Sandwich Tiongkok        79199.0
                        Home Pack MIE POLOS               59400.0
                        Homepack Sambal                   36000.0
                        Homepack Siomay                   32400.0

                                                         discount_price  \
merchant_name           product
369 Shanghai, Jemursari Home Pack Tim Obat Ayam Hitam               0.0
                        Home Pack Sup Shanghai                      0.0
                        Home Pack Tim Obat Ayam Kampung             0.0
                        Homepack Chasiew                            0.0
                        Home Pack Mie Zhajiang                      0.0
                        Home Pack Song Mie                          0.0
                        Home Pack Mie Ayam                          0.0
                        Homepack Sandwich Tiongkok                  0.0
                        Home Pack MIE POLOS                         0.0
                        Homepack Sambal                             0.0
                        Homepack Siomay                             0.0

                                                                      description
merchant_name           product
369 Shanghai, Jemursari Home Pack Tim Obat Ayam Hitam                 isi 1 porsi
                        Home Pack Sup Shanghai                        isi 2 porsi
                        Home Pack Tim Obat Ayam Kampung               isi 1 porsi
                        Homepack Chasiew                            Berat 200gram
                        Home Pack Mie Zhajiang                        isi 2 porsi
                        Home Pack Song Mie                            isi 2 porsi
                        Home Pack Mie Ayam                            isi 2 porsi
                        Homepack Sandwich Tiongkok          isi 2 slice dan 2 bun
                        Home Pack MIE POLOS              Isi 3 Porsi / Mie kuning
                        Homepack Sambal                                         -
                        Homepack Siomay                                 Isi 4 PCS

In [13]:
gf_merchant_name = gf[gf['merchant_name'].str.contains('369 Shanghai, Jemursari')]

gf_2 = gf_merchant_name[gf_merchant_name['display'].str.contains('Dumpling')]
gf_2.groupby(['merchant_name', 'product']).sum().sort_values(by = 'price', ascending = False)

                                                   merchant_area category  \
merchant_name           product
369 Shanghai, Jemursari Guo Tie 'Pork'                  surabaya  Chinese
                        Xiao Long Bao 'Pork'            surabaya  Chinese
                        Siomay Ayam Rebus / Goreng      surabaya  Chinese
                        Siomay Babi Rebus/ Goreng       surabaya  Chinese

                                                     display    price  \
merchant_name           product
369 Shanghai, Jemursari Guo Tie 'Pork'              Dumpling  69599.0
                        Xiao Long Bao 'Pork'        Dumpling  69599.0
                        Siomay Ayam Rebus / Goreng  Dumpling  36000.0
                        Siomay Babi Rebus/ Goreng   Dumpling  36000.0

                                                    discount_price description
merchant_name           product
369 Shanghai, Jemursari Guo Tie 'Pork'                         0.0       8 pcs
                        Xiao Long Bao 'Pork'                   0.0       8 pcs
                        Siomay Ayam Rebus / Goreng             0.0       4 pcs
                        Siomay Babi Rebus/ Goreng              0.0       4 pcs

In [14]:
gf_merchant_name = gf[gf['merchant_name'].str.contains('369 Shanghai, Jemursari')]

gf_3 = gf_merchant_name[gf_merchant_name['display'].str.contains('Shanghai Dish')]
gf_3.groupby(['merchant_name', 'product']).sum().sort_values(by = 'price', ascending = False)

                                             merchant_area category  \
merchant_name           product
369 Shanghai, Jemursari Babat Hitam               surabaya  Chinese
                        Chasiu Pork               surabaya  Chinese
                        Kuping Babi               surabaya  Chinese
                        Baikut Goreng             surabaya  Chinese
                        Kou Rou / Pork Belly      surabaya  Chinese
                        Kaki Babi                 surabaya  Chinese
                        Sambal Mie                surabaya  Chinese

                                                    display    price  \
merchant_name           product
369 Shanghai, Jemursari Babat Hitam           Shanghai Dish  62400.0
                        Chasiu Pork           Shanghai Dish  62400.0
                        Kuping Babi           Shanghai Dish  62400.0
                        Baikut Goreng         Shanghai Dish  57600.0
                        Kou Rou / Pork Belly  Shanghai Dish  55200.0
                        Kaki Babi             Shanghai Dish  52800.0
                        Sambal Mie            Shanghai Dish  36000.0

                                              discount_price description
merchant_name           product
369 Shanghai, Jemursari Babat Hitam                      0.0           -
                        Chasiu Pork                      0.0    100 gram
                        Kuping Babi                      0.0           -
                        Baikut Goreng                    0.0           -
                        Kou Rou / Pork Belly             0.0    2 slices
                        Kaki Babi                        0.0           -
                        Sambal Mie                       0.0       150Ml

In [15]:
gf_merchant_name = gf[gf['merchant_name'].str.contains('369 Shanghai, Jemursari')]

gf_3 = gf_merchant_name[gf_merchant_name['display'].str.contains('Noodles')]
gf_3.groupby(['merchant_name', 'product']).sum().sort_values(by = 'price', ascending = False).head(30)

                                              merchant_area category  display  \
merchant_name           product
369 Shanghai, Jemursari Mie Kou Rou                surabaya  Chinese  Noodles
                        Mie Babat                  surabaya  Chinese  Noodles
                        Mie Casiu Pork             surabaya  Chinese  Noodles
                        Lomie                      surabaya  Chinese  Noodles
                        Mie Baikut Goreng          surabaya  Chinese  Noodles
                        Mie Hokkian                surabaya  Chinese  Noodles
                        Mie Babi Jamur             surabaya  Chinese  Noodles
                        Bihun Gr 369 Pork/ Ck      surabaya  Chinese  Noodles
                        Mie Goreng Pork / CK       surabaya  Chinese  Noodles
                        Mie Zhajiang               surabaya  Chinese  Noodles
                        Mie Ayam                   surabaya  Chinese  Noodles
                        Mie Polos                  surabaya  Chinese  Noodles

                                                 price  discount_price  \
merchant_name           product
369 Shanghai, Jemursari Mie Kou Rou            70800.0             0.0
                        Mie Babat              68400.0             0.0
                        Mie Casiu Pork         67200.0             0.0
                        Lomie                  66000.0             0.0
                        Mie Baikut Goreng      66000.0             0.0
                        Mie Hokkian            62400.0             0.0
                        Mie Babi Jamur         61200.0             0.0
                        Bihun Gr 369 Pork/ Ck  56400.0             0.0
                        Mie Goreng Pork / CK   56400.0             0.0
                        Mie Zhajiang           56400.0             0.0
                        Mie Ayam               51599.0             0.0
                        Mie Polos              26401.0             0.0

                                                                description
merchant_name           product
369 Shanghai, Jemursari Mie Kou Rou            Mie Kuning/Putih/Sayur/Bihun
                        Mie Babat                                         -
                        Mie Casiu Pork         Mie Kuning/Putih/Sayur/Bihun
                        Lomie                                             -
                        Mie Baikut Goreng      Mie Kuning/Putih/Sayur/Bihun
                        Mie Hokkian                                       -
                        Mie Babi Jamur         Mie Kuning/Putih/Sayur/Bihun
                        Bihun Gr 369 Pork/ Ck                             -
                        Mie Goreng Pork / CK                              -
                        Mie Zhajiang           Mie Kuning/Putih/Sayur/Bihun
                        Mie Ayam               Mie Kuning/Putih/Sayur/Bihun
                        Mie Polos                                         -